{% extends "access/base.html" %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">POSTS</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="container">User Registration</h1>
{% if messages %} {% for message in messages%}
<div class="container">
  <div class="mx-1 alert alert-dark alert-dismissible fade show" role="alert">
    {{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
{% endfor %} {% endif %}
{% if errors %} {% for error in errors %}
<div class="container">
  <div class="mx-1 alert alert-dark alert-dismissible fade show" role="alert">
    {{error}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
{% endfor %} {% endif %}
<form class="container" method="post">
    {% csrf_token %}
    <label class="form-label">{{form.username.label}}</label>
    {{form.username}}
    <label class="form-label">{{form.email.label}}</label>
    {{form.email}}
    <label class="form-label">{{form.first_name.label}}</label>
    {{form.first_name}}
    <label class="form-label">{{form.last_name.label}}</label>
    {{form.last_name}}
    <label class="form-label">{{form.password1.label}}</label>
    {{form.password1}}
    {{form.password1.hint}}
    <label class="form-label">{{form.password2.label}}</label>
    {{form.password2}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}